/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap'); */

*{
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Titillium Web', sans-serif; */
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Kufam', cursive; */
  /* font-family: 'Architects Daughter', cursive; */
  /* font-family: 'Abel', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
  font-size: 3vh;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-item:hover {
  cursor: pointer;
  color:lightseagreen;
}

.nav-logo {
  font-size: 5vh
}

.nav-logo:hover {
  cursor: pointer;
}

.section-content {
  margin: auto;
}

.introduction{
  height: 100vh;
}

.name-text{
  font-size:5vh;
  color: royalblue;
  font-weight: 600;
  /* background-color: black; */
  text-transform: uppercase;
  padding: 1vh;
}

.introduction-content{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2vh;
}

.flex-column-center{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.typewriter-container{
  margin: 5vh 0;
  padding: 2vh;
}


.Typewriter__wrapper{
  color:red;
  font-size: 5vh;
  font-weight: 500;
}

.Typewriter__cursor{
  font-size: 5vh;
  font-weight: 500;
}

.learn-more{
  animation: text-jumping 1.5s ease-in-out infinite;
}

.learn-more:hover {
  cursor: pointer;
  animation-play-state: paused;
}

.section-title{
  text-transform: uppercase;
  font-size: 5vh;
  font-weight: 600;
  border-right: 5px solid red;
  min-height: 50vh;
  padding: 2vh;
}

.section-title-horizontal{
  text-transform: uppercase;
  font-size: 5vh;
  font-weight: 600;
  border-bottom: 5px solid red;
}

.about{
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-description{
  font-size: 2vh;
  text-align: center;
  width: 50vh;
}

.profile-image{
  max-height: 40vh;
  max-width: 30vh;
  margin: 5vh;
  object-fit: contain;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1vh solid yellow;
  border-radius: 50%;
}

.expertise{
  display:flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.all-skills-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-image{
  max-height: 25vh;
  max-width: 40vh;
  margin: 5vh;
  object-fit: contain;
}


.projects{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 50vh;
}

.all-projects-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-card{
  width: 90%;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2vh;
  margin: 2vh;
}

.project-left-section{
  width: 30%;
  text-transform: uppercase;
  font-size: 4vh;
  font-weight: 600;
  border-right: 5px solid red;
  min-height: 50vh;
  padding: 2vh;
}

.project-right-section{
  width: 60%;
}


.project-card-title{
  text-decoration:none;
  font-size: 4vh;
  font-weight: 600;
  color: red;
}

.project-text{
  font-size: 3vh;
}

.project-card-title:hover{
  color: lightseagreen;
}

.project-card-image{
  width: 40vh;
  height: 30vh; 
  object-fit: contain;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


.contact{
  min-height: 200vh;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.contact-form-container{
  width: 40vh;
  margin: 2vh;
}

.contact-icon{
  font-size: 4vh;
  margin: 2vh;
  color: white;
}

.contact-icon:hover{
  color: lightseagreen;
}

@media only screen and (max-width: 600px) {
  .nav-item {
    margin-left: 1vh;
    font-size: 2vh;
  }

  .connect-with-me-container{
    flex-direction: column-reverse;
  }

  .contact-container{
    margin: 2vh;
  }

  .about{
    flex-direction: column;
  }
  
  .section-title{
    font-size: 5vh;
    border-right: none;
    min-height: 5vh;
    padding: 0vh; 
    border-bottom: 5px solid red;
  }

  .project-left-section{
    font-size: 4vh;
    border-right: none;
    min-height: 4vh;
    padding: 0vh; 
  }

  .project-card{
    width:80%;
  }
  
  .project-left-section, .project-middle-section, .project-right-section{
    width: 90%;
  }

  .skill-image{
    max-height: 15vh;
    max-width: 20vh;
    margin: 3vh;
    object-fit: contain;
  }

  .contact{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  
  
}


@keyframes text-jumping {
  0% {
      transform: translateY(0);
  }
  20% {
      transform: translateY(-1em);
  }
  40% {
      transform: translateY(0.5em);
  }
  60% {
      transform: translateY(-0.25em);
  }
  80% {
      transform: translateY(0);
  }
}
