
.nav-item {
  margin: 0 1vh;
  font-size: 3vh;
}

.nav-item:hover {
  cursor: pointer;
  color:lightseagreen;
}

.nav-logo {
  font-size: 5vh
}

.nav-logo:hover {
  cursor: pointer;
}

.section-content {
  margin: auto;
}

.introduction{
  height: 100vh;
}

.name-text{
  font-size:5vh;
  color: lightseagreen;
}

.introduction-content{
  height: 100%;
  margin-top:80px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2vh;
}

.flex-column-center{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.typewriter-container{
  margin: 5vh 0;
  padding: 2vh;
}


.Typewriter__wrapper{
  color:palevioletred;
  font-size: 5vh;
}

.Typewriter__cursor{
  font-size: 5vh;
}

.learn-more{
  animation: text-jumping 1.5s ease-in-out infinite;
}

.learn-more:hover {
  cursor: pointer;
  animation-play-state: paused;
}

.about{
  min-height: 100vh;
}

.about-description{
  font-size: 3vh;
  text-align: center;
  width: 50vh;
}

.expertise{
  display:flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.all-skills-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-image{
  max-height: 25vh;
  max-width: 40vh;
  margin: 5vh;
  object-fit: contain;
}


.projects{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.all-projects-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2vh;
  margin: 2vh;
}

.project-card-title{
  text-decoration:none;
  font-size: 4vh;
  color: palevioletred;
}

.project-card-title:hover{
  color: lightseagreen;
}

.project-description{
  font-size: 2vh;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding: 1vh;
  margin-top: 1vh;
  text-align: center;
  text-justify: auto;
}

.project-card-image{
  width: 40vh;
  height: 30vh; 
  object-fit: cover;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


.contact{
  min-height: 100vh;
}

.contact-form-container{
  width: 40vh;
}

.connect-with-me-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon{
  font-size: 4vh;
  margin: 2vh;
  color: white;
}

.contact-icon:hover{
  color: lightseagreen;
}

@media only screen and (max-width: 600px) {
  .nav-item {
    margin-left: 1vh;
    font-size: 2vh;
  }

  .Typewriter__wrapper{
    font-size: 3vh;
  }

  .connect-with-me-container{
    flex-direction: column-reverse;
  }

  .contact-container{
    margin: 2vh;
  }
  
  
}


@keyframes text-jumping {
  0% {
      transform: translateY(0);
  }
  20% {
      transform: translateY(-1em);
  }
  40% {
      transform: translateY(0.5em);
  }
  60% {
      transform: translateY(-0.25em);
  }
  80% {
      transform: translateY(0);
  }
}
